{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Aims and Objective</h3>
                        <p>The schools provide a congenial environment for all round development of the whole
                        personality and its integration with the society, particularly in reference to the Indian context. Positive
                        ideas are inculcated in students as regards personal hygiene, neatness of uniform. cleanliness of
                        surroundings, graceful manners, obedience and discipline. To achieve high academic standards,
                        personal attention is given to each individual child.
                        <p>Highly motivated and dedicated teams teacher play the role of a model for the children.
                        Individual care and personalized coaching and regular efforts have woven a very vibrant and inspiring
                        environment.
                        <p>Learning is a joy here as teachers make their lessons very interesting by following various
                        methods of teaching, viz Demonstration, Experimentation, Project Work, Home Assignment, Play-
                        way, Micro-teaching and Structure-method etc. Education is child centred here Singing, Mimicry,
                        Playing. Dramatization echo in the campus.
                    <h3>Assembly and Moral Education</h3>
                    To inculcate moral values in the students, the school starts each working day with the morning
                    Assembly, that includes recitation of Veda Mantras, Devotional Songs, Patriotic Songs and Thought for
                    the Day. Stress is laid on the universal aspects and eternal values of Indian Culture. Short talks are given
                    by the students and the teachers on a variety of subjects and important current events. The news by the
                    students is read out daily. Every morning, the assembly disperses with the singing ofNational Anthem.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}