{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Test/Interview</h3>
                        <p class="pli">1.	Admission is on the basis of written test and an interview of the student along with the parents.
                        <p class="pli">2.	For admission to different classes, tests are conducted to the standard of the class.
                        <p class="pli">3.	There is no written test for admission to U.K.G. However, children are required to appear for an interview. It is essential for both parents to accompany the child.
                       <p class="pli"> 4.	Overall growth, observation and sel f reliance are the main considerations for admission.
                    </div>
                    <div class="midsecDiv">
                    <h3>Admission</h3>
                    <p class="pli">1.	Admission will be made strictly on the basis of merit.
                    <p class="pli">2.	The Birth Certificate from a competent authority and the Transfer Certificate obtained from the previous school are essential at the time of admission.
                    <p class="pli">3. 	Fees have to be deposited by the stipulated dates, failing which the seat will be allotted to the next wait-listed candidate.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}