{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Features at a Glance</h3>
                        <p class="pli">•	Registration Admission started from
                        <p class="pli">•	Selection will be made on basis ofWritten Test & Viva-Voice.
                        <p class="pli">•	Managed by a group or educationist under the ageis of Bs.S. & Educational Trust (Govt. Regd. )
                        <p class="pli">•	Based on CBSE Curriculum.
                        <p class="pli">•	A Complete English Medium (Co- Education )
                        <p class="pli">•	Admission from Nursery to X only (Proposed to class X).
                        <p class="pli">•	Registration form along with prospectus is available at the cost of Rs. 300/- from the school office.
                        <p class="pli">•	Separate hostel for Boys & Girls (A home away home).
                        <p class="pli">•	Highly qualified &experienced teacher mostly from Darjeeling & Kerala.
                        <p class="pli">•	Transportation facility available.
                        <p class="pli">•	A model school of Koshi Commissionary aiming to provide honest, sincere & responsible citizen of country.
                        <p class="pli">•	Audio-visual aided teaching (1st time in north Bihar).
                        <p class="pli">•	Free remedial classes for Hostelers/ Day scholar also.
                        <p class="pli">•	Special classes ofYoga, Debate, Dance. Music. Craft, Drawing, Painting by concord (Aix n
                        <p class="pli">•	Computer Education is compulsory from class III onwards.
                        <p class="pli">•	Special attraction for kids : Splash Pool, Sand Writing, Garden, Chart & Modals etc.
                        <p class="pli">•	All subjects will be testified once a week and report will be submitted monthly infront of parents-teacher-meeting (PTM).
                        <p class="pli">•	Seats are limited.
                        <p class="pli">•	CCTV Camera
                        <p class="pli">•	RO Water

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

