{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Our Mission and Vision</h3>
                        <p>Each and every child has its own Potential. Its our mission is to convert his or her potential into their performance that's why we mentioned in our monogram to "Realise Your Potential".</p>
                        <p>All knowledge that the world has ever received comes from the mind, the infinite library of universe is our own mind. Our aim is to fill the brain with high thoughts, highest ideas & place them day & night to the children. All children are artist, the problem is how to remain an artist once he grows up. We ensure that our child will grow up with due patriotism.</p>
                        <p>Its our believe that education is a companion which no future can depress, no crime can destroy, no enemy can alienate it and no nepotism can enslave. Our motive is to treat such a valuable knovir.lodge & make a true educationist through a perfect teaching-learning process in a lovely manner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}