{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <img style="width=100x;" src="{% static 'MainApp/Pics/principle.jpg' %}" alt="...">
                        <h3>Message from the Managing Director</h3>
                        <p>It is absolutely true that every living beings come to this world with the greatest supernatural power as well as the environment and nurturing of this earth gives the children good or bad image. With right environment, surroundings and nourishment children become intellectual, intelligent, powerful, characterful and reputed . I strongly believe that there arc three keys societal member who can make a country progressive and developed . They arc the father , the mother and the teacher . Sacred environment and charming image of the school proves the best efficiency and strength.
                        <p>So to establish of our lift as the exemplary we need to adorn from childhood. For this very purpose VIVEKANAND MISSION SCHOOL has been set up. From the early time of the establishment of this school it made successful endeavours that boys and girls should be imparted such type of moral education which creates enthusiasm, affection , compassion and loyalty as well as it gives them realization of art of living and it blossoms beaus i ful charming and proper knowledge to the children in the orchard of life .
                        <p>I feel myself a sense of pride to be a part of the nobel mission of imparting quality education to the children from all section of society without prejudice and discrimination ofany kind .
                        <p>With great thanks</p>
                        <p>Managing Director</p>
                        <p>Mr. S.K. Shambhu</p>
                        <p>M.Sc.(Chemistry),LLB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
