{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Guidelines for Parents</h3>
                        <div>
                        <h4>Do's</h4>
                            <p class="pli">1. Use the school diary as a means of communication with the class teacher and cheek the diary tour Home Work and the teacher's remarks.if any</p>
                            <p class="pli">2. Sign the test copies/papers as and when sent Home.</p>
                            <p class="pli">3. See that your ward has all the text books,items of stationary,craft materials etc. right in the beginning of the session</p>
                            <p class="pli">4. Ensure that all the books and note books are covered with brown paper and labeled properly.</p>
                            <p class="pli">5. Ensure that your ward comes to school in proper uniform with polished shoes, trimmed hair and clean nails.</p>
                            <p class="pli">6. Send the children regularly and punctually to school. No absence will be permitted without a leave application and late comers will note be allowed to sit in the class.</p>
                            <p class="pli">7. Both the parents must attend the Parent's-Teacher's Meet.</p>
                            <p class="pli">8. Pay the fees as per schedule.</p>
                            <p class="pli">9. Intimate the school in case of change in address, telephone number etc.</p>
                            <p class="pli">10. Help in the developmental work of the school whenever necessary.</p>
                            </div>
                        <div>
                        <h4>Don't</h4>
                            <p class="pli">1. Do not send the child to school in case of an infectious disease, and a medical certificate should be furnished from a medical authority at tch time ofrejoining the school after illness.</p>
                            <p class="pli">2. Do not walk into the classroom or meet the teacher in the classroom. Please see the teacher with prior appointment through Principal .</p>
                            <p class="pli">3. Do not visit the teacher at their residence.</p>
                            <p class="pli">4. Do not send money or valuable articles with the students. The school takes no responsibility in case those are lost.</p>
                            <p class="pli">5. Students shall not be allowed to leave the school campus before the school is over.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h3>Guidelines for Students</h3>
                        <div>
                        <p class="pli">1.	 All the students must posses the school diary, text-books, note books and stationery etc.
                        <p class="pli">2. Students are ads iced not to bring valuable articles to the school. The school will not responsible for any such loss.
                        <p class="pli">3.	Application for leave must be submitted a day in advance. It should be counter-singed by the parent/guardian.
                        <p class="pli">4.	Students must come in proper school uniform.
                        <p class="pli">5.	They must be clean and tidy.
                        <p class="pli">6.	Students should obey house captains and other students on duty.
                        <p class="pli">7.	Students are not allowed to leave the school during working hours unless the parents / guardian., whose signatures are on the admission forms and the School Diary, come in person.
                        <p class="pli">8.	School identity cards must be with the students in all working days.
                        <p class="pli">9.	Students should be regular in attendance.
                        <p class="pli">10. 	Any damage to the school property by the student will have to be borne by the student's parents/guardian.
                        <p class="pli">11.	The school reserves the right to take a stern action even to strike off the name of Students from the School  ills who are found guilty of misconduct_
                        <p class="pli"  >12.	Obey the rules oflibrary, laboratories.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}