{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="container-fluid ">
    <div class="jumbotron">
        <div class="midsec">
            <div class="row  ">
                <div class="col-md-12 ">
                    <div class="midsecDiv">
                        <h2>Sports and Co-curricular Activities</h2>
                        <h3>House System</h3>
                        <p>To create and atmosphere of healthy competition and team sprit, most of the school odes Ales arc governed by !louse system Inter House Competitions are regularly.</p>
                        <h3>Blossoming of Inhabited Talents</h3>
                        <p>We expose the child to hobbies like reading, sketching, singing, dancing, public speaking and gardening ensure that discipline becomes a second nature of the child. Individual and consistent monitoring arc/cry student enables the teacher to recognise the field in which a particular child can excel. Children with similar interests and inclinations are grouped together and then the teachers help them to nurse and cultivate their talents. They are also trained in Yoga, Finearts and Music by experts.</p>
                        <h3>Educational Tours</h3>
                        <p>The schools plan educational tours for the students. They are supposed to taken to Historical places, Museums, nature campus etc. To give them a first hand knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
