{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
			<div class="row">
				<div class="column lg-12">
					<div>
					  <div class="embed-responsive embed-responsive-16by9">
					    <video name='demo' controls autoplay width='50%' height='40%'>
<source src="{% static '{{vid}}'}" type="video/mp4"></source>
</video>
    				  </div>
                    </div>
                    {{vid}}
				</div>
			</div>
		</div>
</body>
</html>